{% load i18n %}

{% if item %}
  {% if not item.permission or request.user|has_permission:item.permission %}
  <li class="menu-item {% if item.url == request.resolver_match.url_name or item.url == request.path %}active{% endif %}">
    <a href="{% if item.external == True %}{{ item.url }}{% else %}{% url item.url %}{% endif %}" class="menu-link" {% if item.target == "_blank" %}target="_blank" {% endif %}>
      {% include './menu_icon_template.html' with item=item %}
      <span class="menu-label">{% trans item.name %}</span>
      {% if item.badge %}
      <span class="menu-slot"><span class="menu-badge">{{ item.badge.1 }}</span></span>
      {% endif %}
    </a>
  </li>
  {% endif %}
{% endif %}
