<!-- Footer -->
<footer class="content-footer footer bg-footer-theme">
  <div class="{{container_class}}">
    <div class="footer-container d-flex align-items-center justify-content-between py-4 flex-md-row flex-column">
      <div class="text-body">
        &copy; <script>document.write(new Date().getFullYear())</script>
        {% get_theme_variables 'template_name' %} &mdash; {% get_theme_variables 'template_suffix' %}
      </div>
      <div class="d-none d-lg-inline-block text-body-secondary">
        Clickable prototype &middot; static data
      </div>
    </div>
  </div>
</footer>
<!-- / Footer -->
